# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.FiveMLoadout.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\steph\Desktop\Source\FiveMLoadoutJoin\FiveMLoadout\.idea\.idea.FiveMLoadout\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
